{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="login">
  <div class="container">
    <div class="banner-content">

      <h1><i class="fa fa-smile"></i> Earthruh</h1>
      <form method="post" class="form-signin" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="form-signin-heading">Edit Profile</h3>
        {% bootstrap_form form %}
        <button class="kafe-btn kafe-btn-mint btn-block" type="submit" name="subm">Save Changes</button>
        <br />
      </form>

    </div>
    <!--/. banner-content -->
  </div><!-- /.container -->
</section>
{% endblock %}
