{% extends 'main/base.html' %}
{% load static %}
{% load check_post_liked %}
{% load check_user_following %}
{% block content %}
<section class="profile">
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-3">
				<div class="profilebox hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('/static/img/profile-bg.jpg') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
				</div>
				<div class="profilebox hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('/static/img/profile-bg.jpg') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="profilebox-large hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('/static/img/profile-bg.jpg') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="profilebox hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('/static/img/profile-bg.jpg') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
				</div>
				<div class="profilebox" style="background: linear-gradient( rgba(34,34,34,0.6), rgba(34,34,34,0.6)), url('/static/img/profile-bg.jpg') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
				</div>
			</div>

		</div>
		<!--/ row-->
	</div>
	<!--/ container -->
</section>
<!--/ profile -->

<!-- ==============================================
	 User Profile Section
	 =============================================== -->
<section class="user-profile">
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-12">
				<div class="post-content">
					<div class="author-post text-center">
						
						<a href="#">
							{% if profile.profile_pic %}
							<img class="img-fluid img-circle" src="{{ profile.profile_pic.url }}"
								alt="Image">
							{% else %}
							<img class="img-fluid img-circle" src="/static/img/user.png/"
								alt="Image">
							{% endif %}
						</a>
					</div><!-- /author -->
				</div><!-- /.post-content -->
			</div><!-- /col-sm-12 -->

		</div>
		<!--/ row-->
	</div>
	<!--/ container -->
</section>
<!--/ profile -->

<!-- ==============================================
	 User Profile Section
	 =============================================== -->
<section class="details">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<div class="details-box row">
					<div class="col-lg-9">
						<div class="content-box">
							<h4>{{ profile.user.get_full_name }} {% if profile.verified %}<i
									class="fa fa-check"></i>{% endif %}</h4>
							<p>{{ profile.bio }}</p>
							<small><span><a target="_blank" style="color: #0fc19e;" href="{{ profile.website }}">{{ profile.website }}</a></span></small>
						</div>
						<!--/ media -->
					</div>
					<div class="col-lg-3">
						<div class="follow-box">
							{% if profile == request.user.profile %}
							<a href="{% url 'accounts:edit_profile' %}" class="kafe-btn kafe-btn-mint"><i
									class="fa fa-check"></i>Edit Profile</a>
							{% else %}
								{% is_following request.user profile.user.id as user_is_following %}
		
								{% if user_is_following  %}
								<a href="{% url 'accounts:unfollow' profile.user.id %}" class="kafe-btn kafe-btn-mint"><i
										class="fa fa-check"></i> Following</a>
								{% else %}
								<a href="{% url 'accounts:follow' profile.user.id %}" class="kafe-btn kafe-btn-mint"><i
										class="fa fa-plus"></i> Follow</a>
								{% endif %}
							{% endif %}
						</div>
						<!--/ dropdown -->
					</div>
				</div>
				<!--/ details-box -->

			</div>
		</div>
	</div>
	<!--/ container -->
</section>
<!--/ profile -->

<!-- ==============================================
	 Home Menu Section
	 =============================================== -->
<section class="home-menu">
	<div class="container">
		<div class="row">

			<div class="menu-category">
				<ul class="menu">
					<li class="current-menu-item"><a>Posts <span>{{ posts | length }}</span></a></li>
					{% if profile == request.user.profile %}
					<li><a href="{% url 'accounts:followers' %}">Followers
							<span>{{ profile.user.followers.all | length }}</span></a></li>
					<li><a href="{% url 'accounts:following' %}">Following
							<span>{{ profile.user.following.all | length }}</span></a></li>
					{% else %}
					<li><a href="{% url 'accounts:user_followers' profile.user.username %}">Followers
						<span>{{ profile.user.followers.all | length }}</span></a></li>
					<li><a href="{% url 'accounts:user_following' profile.user.username %}">Following
						<span>{{ profile.user.following.all | length }}</span></a></li>
					{% endif %}
				</ul>
			</div>

		</div>
		<!--/row -->
	</div>
	<!--/container -->
</section>
<!--/home-menu -->

<section class="newsfeed">
	<div class="container">
		<div class="row">
			{% for post in posts %}
			<div class="col-lg-4">
				<a href="#Modal{{ post.id }}" data-toggle="modal">
					<div class="explorebox" style="background: linear-gradient( rgba(34,34,34,0.2), rgba(34,34,34,0.2)), url('{{ post.image.url }}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
						<div class="explore-top">
							<div class="explore-like"><i class="fa fa-heart"></i> <span>{{ post.like_count }}</span>
							</div>
						</div>
						<div class="explore-body">
							
							<div class="">
								{% if post.user.profile.profile_pic %}
								<img class="img-circle" src="{{ post.user.profile.profile_pic.url }}"
									alt="user">
								{% else %}
								<img class="img-circle" src="/static/img/user.png/"
									alt="user">
								{% endif %}
							</div>
							
						</div>
					</div>
				</a>
			</div>
			<!--/ col-lg-4 -->
			{% endfor %}
		</div>
		<!--/ row -->

	</div>
	<!--/ container -->
</section>
<!--/ newsfeed -->

<!-- ==============================================
	 Modal Section
	 =============================================== -->
	<section id="modal">
		{% for post in posts %}
		<div id="Modal{{ post.id }}" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
		
						<div class="row">
		
							<div class="col-md-8 modal-image">
								<img class="img-responsive" src="{{ post.image.url }}" alt="Image" />
								{% if post.user == request.user %}
								<a href="{% url 'accounts:delete_post' post.id %}" class="btn btn-danger" style="margin-top: 10px;">Delete Post</button>
								{% endif %}
								</div>
							<!--/ col-md-8 -->
							<div class="col-md-4 modal-meta">
								<div class="modal-meta-top">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										<span aria-hidden="true">×</span><span class="sr-only">Close</span>
									</button>
									<!--/ button -->
									<div class="img-poster clearfix">
										
										<a href="">
											{% if post.user.profile.profile_pic %}
											<img class="img-responsive img-circle" src="{{ post.user.profile.profile_pic.url }}"
												alt="Image" />
											{% else %}
											<img class="img-responsive img-circle" src="/static/img/user.png"
												alt="Image" />
											{% endif %}
										</a>
										
										<strong><a href="">{{ post.user.get_full_name }}</a></strong>
										<span>{{ post.created | timesince }} ago</span><br />
										{% is_following request.user post.user.id as user_is_following %}
	
										{% if user_is_following  %}
										<a href="" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i> Following</a>
										{% else %}
	
											{% if not post.user == request.user %}
											<a href="{% url 'accounts:follow' post.user.id %}" class="kafe kafe-btn-mint-small"><i class="fa fa-plus"></i> Follow</a>
											{% endif %}	
										{% endif %}
									</div>
									<!--/ img-poster -->
		
									<ul class="img-comment-list" id="comment-list-{{ post.id }}">
										{% for comment in post.comments.all %}
										<li>
											<div class="comment-img">
												{% if comment.user.profile.profile_pic. %}
												<img src="{{ comment.user.profile.profile_pic.url }}" class="img-responsive img-circle"
													alt="Image" />
												{% else %}
												<img src="/static/img/user.png" class="img-responsive img-circle"
													alt="Image" />
												
												{% endif %}
											</div>
											<div class="comment-text">
												<strong><a href="">{{ comment.user.get_full_name }}</a></strong>
												<p>{{ comment.text }}</p> <span class="date sub-text">on {{ comment.created }}</span>
											</div>
										</li>
										{% endfor %}
										<!--/ li -->
									</ul>
									<!--/ comment-list -->
		
									<div class="modal-meta-bottom">
										<ul>
											<li><a 
												class="modal-like"
												
												{% if post|has_liked:request.user %} style="color:#e16a70" 
												{% else %} style="color:#b2b2b2" 
												{% endif %}><i class="fa fa-heart"></i></a>
												<span
													class="modal-one"> {{ post.like_count }}</span> |
												<a class="modal-comment" href="#"><i class="fa fa-comments"></i></a><span>
													{{ post.comment_count }}</span> </li>
											<li>
												<span class="thumb-xs">
													{% if request.user.profile.profile_pic %}
													<img class="img-responsive img-circle" src="{{ request.user.profile.profile_pic.url }}"
														alt="Image">
													{% else %}
													<img class="img-responsive img-circle" src="/static/img/user.png/"
														alt="Image">
													{% endif %}
												</span>
												<form class="comment-body form-group" method="POST" v-on:submit.prevent="addComment({{ post.id }})">
													{% csrf_token %}
													<input 
														class="form-control input-sm" 
														type="text"
														v-model="comment_text"
														placeholder="Write your comment..." required id="comment-input" name="comment_text">
														<input type="hidden" name="post_id" value="{{ post.id }}" class="post_id">
													<button type="submit" class="btn form-control btn-sm btn-default">Submit</button>
												</form>
												<!--/ comment-body -->
											</li>
										</ul>
									</div>
									<!--/ modal-meta-bottom -->
		
								</div>
								<!--/ modal-meta-top -->
							</div>
							<!--/ col-md-4 -->
						</div>
						<!--/ row -->
					</div>
					<!--/ modal-body -->
		
				</div>
				<!--/ modal-content -->
			</div>
			<!--/ modal-dialog -->
		</div>
		{% endfor %}
		
	</section>

{% endblock %}

{% block extra_scripts %}
<script>
	let el = $('#profile');
	el.removeClass('dark-black');
	el.addClass('mint-green')
</script>
{% endblock extra_scripts %}