{% extends 'main/base.html' %}
{% block content %}
	<!-- ==============================================
	 News Feed Section
	 =============================================== -->
	<section class="followers">
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-8 col-lg-offset-2">

					<div class="followers-box full-width">
						<div class="followers-list">
							{% for user in following %}
							<div class="followers-body">
								{% if user.profile.profile_pic %}
								<img class="img-responsive img-circle" src="{{ user.profile.profile_pic.url }}" alt="">
								{% endif %}
								<div class="name-box">
									<h4>{{ user.get_full_name }}</h4>
									<span>@{{ user.username }}</span>
									
									<!--/ followers-base -->
								</div>
								<!--/ name-box -->
								<span><a href="{% url 'accounts:unfollow' user.id %}" class="kafe-btn kafe-btn-mint-small"> Unfollow</a></span>
							</div>
							{% endfor %}
							<!--/ followers-body -->
							<!--/ followers-body -->
						</div>
						<!--suggestions-list end-->
					</div>

				</div>

			</div>
			<!--/ row-->
		</div>
		<!--/ container -->
	</section>
	<!--/ profile -->
{% endblock %}