{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="login" style="height: 100vh;">
  <div class="container">
    <div class="banner-content">

      <h1><i class="fa fa-smile"></i> Earthruh</h1>
      
      <div class="form-signin" style="margin-top: 10px;">
        <a href="{% provider_login_url 'google' %}" class="kafe-btn kafe-btn-mint btn-block">Login with Google.</a>
      </div>
      <!-- <form method="post" class="form-signin" action="{% url 'account_login' %}">
        {% csrf_token %}
        <h3 class="form-signin-heading">Please sign in</h3>
        {% bootstrap_form form %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="kafe-btn kafe-btn-mint btn-block" type="submit" name="subm">Sign in</button>
        <br />
        <a class="btn btn-dark " href="{{ signup_url }}" role="button">Don't have an account yet? Register Here.</a>
        <a class="btn btn-dark " href="{% url 'account_reset_password' %}" role="button">Forgot your password?</a>
      </form> -->

    </div>
    <!--/. banner-content -->
  </div><!-- /.container -->
</section>


{% endblock %}