{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="login">
  <div class="container">
    <div class="banner-content">

      <h1><i class="fa fa-smile"></i> Earthruh</h1>
      <form method="post" class="form-signin" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <h3 class="form-signin-heading">Please register</h3>
        {% bootstrap_form form %}
        <input type="hidden" name="next" value="/edit_interests" />
        <button class="kafe-btn kafe-btn-mint btn-block" type="submit" name="subm">Sign Up</button>
        <br />
        <a class="btn btn-dark " href="{{ login_url }}" role="button">Already have an account? Click Here.</a>
      </form>

    </div>
    <!--/. banner-content -->
  </div><!-- /.container -->
</section>
{% endblock %}
