{% extends 'main/base.html' %}
{% load static %}
{% load check_post_liked %}
{% load check_user_following %}
{% block content %}
	<div class="container-fluid" style="text-align:center">
		<div class="btn-group justify-content-between">
			<a 
				class="btn1 btn-large btn-flat-icon btn-danger" 
				href="{% url 'main:category' category='art' %}" 
				style="box-shadow:0 .5rem .5rem 0 rgba(108, 18, 18, 0.5),0 .25rem .25rem 0 rgba(254, 165,0,.19)">
				<i class="fas fa-brush fa-2x"></i><span style="display:block" class="fa">Art</span></a>
			
			<a href="{% url 'main:category' category='photography' %}" class="btn1 btn-large btn-info" style="box-shadow:0 .5rem .5rem 0 rgba(108, 18, 18, 0.5),0 .25rem .25rem 0 rgba(254, 165,0,.19)"><i class="fas fa-camera fa-2x"></i><span style="display:block" class="fa">Photography</span></a>
			<a href="/" class="btn1 btn-large btn-warning" style="box-shadow:0 .5rem .5rem 0 rgba(108, 18, 18, 0.5),0 .25rem .25rem 0 rgba(254, 165,0,.19)"><i class="fas fa-pencil-ruler fa-2x"></i><span style="display:block" class="fa">All Posts</span></a>
	
		</div>
	</div>
	 <!-- ==============================================
	 News Feed Section
	 =============================================== --> 
	 <section class="newsfeed" id="posts">
	  <div class="container-fluid">
	   <div class="row">
	    <div class="col-lg-3">
		
		 <a href="#">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/2.gif') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <div class=""><img class="img-circle" src="assets/img/users/10.jpg" alt="user"></div>
           <h4>Clifford Graham</h4>
           <p>2 hours ago</p>
          </div>		  
		 </div>
		 </a>
		
		 <a href="#">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/3.gif') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <div class=""><img class="img-circle" src="assets/img/users/13.jpeg" alt="user"></div>
           <h4>Eleanor Harper</h4>
           <p>4 hours ago</p>
          </div>		  
		 </div>
		 </a>
		
		 <a href="#">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/4.jpg') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <div class=""><img class="img-circle" src="assets/img/users/12.jpg" alt="user"></div>
           <h4>Sean Coleman</h4>
           <p>5 hours ago</p>
          </div>		  
		 </div>
		 </a>
		
		 <a href="#">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/15.jpg') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <div class=""><img class="img-circle" src="assets/img/users/15.jpg" alt="user"></div>
           <h4>Vanessa Wells</h4>
           <p>5 hours ago</p>
          </div>		  
		 </div>
		 </a>

        <div class="trending-box hidden-xs hidden-md">
		 <div class="row">
		  <div class="col-lg-12">
		    <a href="photo_stories.html"><h4>More stories</h4></a>
		  </div>
		 </div>
        </div>
		 
		</div><!--/ col-lg-3 -->
	    <div class="col-lg-6">
			{% for post in posts %}
			<div class="cardbox">

				<div class="cardbox-heading">
					<div class="dropdown pull-right">
						<button class="btn btn-secondary btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="true">
						 	<em class="fa fa-ellipsis-h"></em>
						</button>
						<div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
							<a class="dropdown-item"
								target="_blank"
								href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}post/{{ post.id }}">Share on Facebook</a>
							<a class="dropdown-item"
								target="_blank" 
								href="https://twitter.com/intent/tweet?text={{ request.build_absolute_uri }}post/{{ post.id }}">Share on Twitter</a>
							<a class="dropdown-item"
								target="_blank"
								href="whatsapp://send?text={{ request.build_absolute_uri }}post/{{ post.id }}" data-action="share/whatsapp/share">Share on WhatsApp</a>
							
							{% if not post.user == request.user %}
							<a class="dropdown-item" href="{% url 'main:report' post.id %}">Report</a>
							{% endif %}
						</div>
					</div>
					<div class="media m-0">
						<div class="d-flex mr-3">
							{% if post.user.profile.profile_pic %}
							<a href="{% url 'accounts:user' post.user.username %}"><img class="img-responsive img-circle" src="{{ post.user.profile.profile_pic.url }}"
									alt="User"></a>
							{% else %}
							<a href="{% url 'accounts:user' post.user.username %}"><img class="img-responsive img-circle" src="/static/img/arrow.png"
									alt="User"></a>
							{% endif %}
						</div>
						<div class="media-body">
							<a href="{% url 'accounts:user' post.user.username %}"><p class="m-0">{{ post.user.get_full_name }}</p></a>
							<small><span>{{ post.created | timesince }} ago</span></small>
						</div>
					</div>
					<!--/ media -->
				</div>
				<!--/ cardbox-heading -->

				<div class="cardbox-item">
					<div class="container-fluid">
						<p style="word-wrap: break-word;">{{ post.caption }}</p>
						{% if post.event %}
						<p>Event</p>
						<a href="{{ post.event_url }}" target="_blank" style="color: #0fc19e;">{{ post.event_url }}</a>
						<p>{{ post.venue }}</p>
						{% endif %}
					</div>
					<a href="#Modal{{ post.id }}" data-toggle="modal">
						<img class="img-responsive" src="{{ post.image.url }}" alt="MaterialImg"  style="width: 100%;">
					</a>
				</div>
				<!--/ cardbox-item -->
				<div class="cardbox-base">
					<ul id="like-images-{{ post.id }}">
						{% for like in post.likes.all %}
							
							<li id="like-image-{{ like.user.id }}">
								
								<a href="#">
									{% if like.user.profile.profile_pic %}
									<img src="{{ like.user.profile.profile_pic.url }}" class="img-responsive img-circle"
										alt="User">
									{% else %}
									<img src="/static/img/user.png/" class="img-responsive img-circle"
										alt="User">
									{% endif %}
								</a></li>
						{% endfor %}
					</ul>
				</div>
				<!--/ cardbox-base -->
				<div class="cardbox-like">
					<ul>
						<li>
							<a
							{% if post|has_liked:request.user %} style="color:#e16a70; cursor: pointer;" 
							{% else %} style="color:#b2b2b2; cursor: pointer;"
							{% endif %} 
							@click.prevent="toggleLike({{ post.id }})">
								<i
								class="fa fa-heart"></i>
							</a>
						<span id="likes-{{ post.id }}"> {{ post.like_count }}</span></li>
						<li><a href="#Modal{{ post.id }}" data-toggle="modal" class="com"><i class="fa fa-comments"></i></a> <span
								class="span-last"> {{ post.comment_count }}</span></li>						
					</ul>
				</div>
				<!--/ cardbox-like -->

			</div>
			<!--/ cardbox -->
			{% endfor %}

		</div>
		
		
	   </div><!--/ row -->
	  </div><!--/ container -->
	 </section><!--/ newsfeed -->
  
	 <!-- ==============================================
	 Modal Section
	 =============================================== -->
    <section id="modal">
		{% for post in posts %}
		<div id="Modal{{ post.id }}" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
		
						<div class="row">
		
							<div class="col-md-8 modal-image">
								<img class="img-responsive" src="{{ post.image.url }}" alt="Image" />
							</div>
							<!--/ col-md-8 -->
							<div class="col-md-4 modal-meta">
								<div class="modal-meta-top">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										<span aria-hidden="true">×</span><span class="sr-only">Close</span>
									</button>
									<!--/ button -->
									<div class="img-poster clearfix">
										{% if post.user.profile.profile_pic %}
										<a href=""><img class="img-responsive img-circle" src="{{ post.user.profile.profile_pic.url }}"
												alt="Image" /></a>
										
										{% endif %}
										<strong><a href="">{{ post.user.get_full_name }}</a></strong>
										<span>{{ post.created | timesince }} ago</span><br />
										{% is_following request.user post.user.id as user_is_following %}
	
										{% if user_is_following  %}
										<a href="" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i> Following</a>
										{% else %}
	
											{% if not post.user == request.user %}
											<a href="{% url 'accounts:follow' post.user.id %}" class="kafe kafe-btn-mint-small"><i class="fa fa-plus"></i> Follow</a>
											{% endif %}	
										{% endif %}
									</div>
									<!--/ img-poster -->
		
									<ul class="img-comment-list" id="comment-list-{{ post.id }}">
										{% for comment in post.comments.all %}
										<li>
											<div class="comment-img">
												{% if comment.user.profile.profile_pic. %}
												<img src="{{ comment.user.profile.profile_pic.url }}" class="img-responsive img-circle"
													alt="Image" />
												
												{% endif %}
											</div>
											<div class="comment-text">
												<strong><a href="">{{ comment.user.get_full_name }}</a></strong>
												<p>{{ comment.text }}</p> <span class="date sub-text">on {{ comment.created }}</span>
											</div>
										</li>
										{% endfor %}
										<!--/ li -->
									</ul>
									<!--/ comment-list -->
		
									<div class="modal-meta-bottom">
										<ul>
											<li><a class="modal-like">
												<i class="fa fa-heart"
												{% if post|has_liked:request.user %} style="color:#e16a70" 
												{% else %} style="color:#b2b2b2" 
												{% endif %}
												></i></a>
												<span
													class="modal-one"> {{ post.like_count }}</span> |
												<a class="modal-comment" href="#"><i class="fa fa-comments"></i></a><span>
													{{ post.comment_count }}</span> </li>
											<li>
												<span class="thumb-xs">
													{% if request.user.profile.profile_pic %}
													<img class="img-responsive img-circle" src="{{ request.user.profile.profile_pic.url }}"
														alt="Image">
													{% endif %}
												</span>
												<form class="comment-body form-group" method="POST" v-on:submit.prevent="addComment({{ post.id }})">
													{% csrf_token %}
													<input 
														class="form-control input-sm" 
														type="text"
														v-model="comment_text"
														placeholder="Write your comment..." required id="comment-input" name="comment_text">
														<input type="hidden" name="post_id" value="{{ post.id }}" class="post_id">
													<button type="submit" class="btn form-control btn-sm btn-default">Submit</button>
												</form>
												<!--/ comment-body -->
											</li>
										</ul>
									</div>
									<!--/ modal-meta-bottom -->
		
								</div>
								<!--/ modal-meta-top -->
							</div>
							<!--/ col-md-4 -->
						</div>
						<!--/ row -->
					</div>
					<!--/ modal-body -->
		
				</div>
				<!--/ modal-content -->
			</div>
			<!--/ modal-dialog -->
		</div>
		{% endfor %}
		
	</section>

{% endblock %}


{% block extra_scripts %}
	<script>
		let el = $('#home');
		el.removeClass('dark-black');
		el.addClass('mint-green');
	</script>
{% endblock extra_scripts %}