{% extends 'main/base.html' %}
{% load check_post_liked %}
{% load check_user_following %}


{% block meta %}
<meta property="og:title" content="" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{{ post.caption }}" />
<meta property="og:image" content="{{ post.image.url }}">
<meta name="twitter:title" content="">
<meta name="twitter:image" content="{{ post.image.url }}">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}
	

{% block content %}
<section id="modal" class="single-post">
	<div class="container">
		<div class="row">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
		
						<div class="row">
		
							<div class="col-md-8 modal-image">
								<img class="img-responsive" src="{{ post.image.url }}" alt="Image" />
							</div>
							<!--/ col-md-8 -->
							<div class="col-md-4 modal-meta">
								<div class="modal-meta-top">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										<span aria-hidden="true">×</span><span class="sr-only">Close</span>
									</button>
									<!--/ button -->
									<div class="img-poster clearfix">
										{% if post.user.profile.profile_pic %}
										<a href=""><img class="img-responsive img-circle" src="{{ post.user.profile.profile_pic.url }}"
												alt="Image" /></a>
										
										{% endif %}
										<strong><a href="">{{ post.user.get_full_name }}</a></strong>
										<span>{{ post.created | timesince }} ago</span><br />
										{% is_following request.user post.user.id as user_is_following %}
	
										{% if user_is_following  %}
										<a href="" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i> Following</a>
										{% else %}
	
											{% if not post.user == request.user %}
											<a href="{% url 'accounts:follow' post.user.id %}" class="kafe kafe-btn-mint-small"><i class="fa fa-plus"></i> Follow</a>
											{% endif %}	
										{% endif %}
									</div>
									<!--/ img-poster -->
		
									<ul class="img-comment-list" id="comment-list-{{ post.id }}">
										{% for comment in post.comments.all %}
										<li>
											<div class="comment-img">
												{% if comment.user.profile.profile_pic. %}
												<img src="{{ comment.user.profile.profile_pic.url }}" class="img-responsive img-circle"
													alt="Image" />
												
												{% endif %}
											</div>
											<div class="comment-text">
												<strong><a href="">{{ comment.user.get_full_name }}</a></strong>
												<p>{{ comment.text }}</p> <span class="date sub-text">on {{ comment.created }}</span>
											</div>
										</li>
										{% endfor %}
										<!--/ li -->
									</ul>
									<!--/ comment-list -->
		
									<div class="modal-meta-bottom">
										<ul>
											<li><a class="modal-like"
												{% if post|has_liked:request.user %} style="color:#e16a70; cursor: pointer;" 
												{% else %} style="color:#b2b2b2; cursor: pointer;"
												{% endif %} 
												@click.prevent="toggleLike({{ post.id }})">
													<i
													class="fa fa-heart"></i>
												</a>
												<span
													class="modal-one" id="modal-likes-{{ post.id }}"> {{ post.like_count }}</span> |
												<a class="modal-comment"><i class="fa fa-comments"></i></a>
												<span id="modal-comment-count-{{ post.id }}">
													{{ post.comment_count }}</span> </li>
											<li>
												<span class="thumb-xs">
													{% if request.user.profile.profile_pic %}
													<img class="img-responsive img-circle" src="{{ request.user.profile.profile_pic.url }}"
														alt="Image">
													{% endif %}
												</span>
												<form class="comment-body form-group" method="POST" v-on:submit.prevent="addComment({{ post.id }})">
													{% csrf_token %}
													<input 
														class="form-control input-sm" 
														type="text"
														v-model="comment_text"
														placeholder="Write your comment..." required id="comment-input" name="comment_text">
														<input type="hidden" name="post_id" value="{{ post.id }}" class="post_id">
													<button type="submit" class="btn form-control btn-sm btn-default">Submit</button>
												</form>
												<!--/ comment-body -->
											</li>
										</ul>
									</div>
									<!--/ modal-meta-bottom -->
		
								</div>
								<!--/ modal-meta-top -->
							</div>
							<!--/ col-md-4 -->
						</div>
						<!--/ row -->
					</div>
					<!--/ modal-body -->
		
				</div>
				<!--/ modal-content -->
			</div>
		</div>
		<!--/ modal-dialog -->
	</div>
</section>
{% endblock %}