{% extends 'main/base.html' %}
{% load check_post_liked %}
{% load check_user_following %}
{% block content %}
<!-- ==============================================
	 News Feed Section
	 =============================================== -->
<section class="newsfeed">
	<div class="container">

		<div class="row one-row">
			<div class="col-lg-12">
				<a href="">
					<h4>See All</h4>
				</a>
			</div>
		</div>

		<div class="row top-row">
			{% for user in suggested %}
			<div class="col-lg-3">
				<div class="tr-section">
					<div class="tr-post">
						<div class="entry-header">
							<div class="entry-thumbnail">
								<a href="#"><img class="img-fluid" src="/static/img/posts/30.jpg" alt="Image"></a>
							</div><!-- /entry-thumbnail -->
						</div><!-- /entry-header -->
						<div class="post-content">
							<div class="author-post text-center">
								{% if user.profile.profile_pic %}
								<a href="#"><img class="img-fluid rounded-circle" src="{{ user.profile.profile_pic.url }}"
										alt="Image"></a>
								{% endif %}
							</div><!-- /author -->
							<div class="card-content">
								<h4>{{ user.get_full_name }}</h4>
								<span>@{{ user.username }}</span>
							</div>
							<a href="{% url 'accounts:follow' user.id %}" class="kafe-btn kafe-btn-mint-small full-width"> Follow
							</a>
						</div><!-- /.post-content -->
					</div><!-- /.tr-post -->
				</div><!-- /.tr-post -->
			</div><!-- /col-sm-3 -->
			{% endfor %}

		</div>

		<div class="row one-row">
			<div class="col-lg-12">
				<h4>Explore Section</h4>
			</div>
		</div>

		<div class="row">
			{% for post in posts %}
			<div class="col-lg-4">
				<a href="#myModal{{ post.id }}" data-toggle="modal">
					<div class="explorebox" style="background: linear-gradient( rgba(34,34,34,0.2), rgba(34,34,34,0.2)), url('{{ post.image.url }}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
						<div class="explore-top">
							<div class="explore-like"><i class="fa fa-heart"></i> <span>{{ post.like_count }}</span></div>
							<div class="explore-circle pull-right"><i class="far fa-bookmark"></i></div>
						</div>
						<div class="explore-body">
							<div class=""><img class="img-circle" src="{{ post.user.profile.profile_pic.url }}" alt="user"></div>
						</div>
					</div>
				</a>
			</div>
			<!--/ col-lg-4 -->
			{% endfor %}
		</div>
		<!--/ row -->

	</div>
	<!--/ container -->
</section>
<!--/ newsfeed -->

<!-- ==============================================
	 Modal Section
	 =============================================== -->
{% for post in posts %}
<div id="myModal{{ post.id }}" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">

				<div class="row">

					<div class="col-md-8 modal-image">
						<img class="img-responsive" src="{{ post.image.url }}" alt="Image" />
					</div>
					<!--/ col-md-8 -->
					<div class="col-md-4 modal-meta">
						<div class="modal-meta-top">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<span aria-hidden="true">×</span><span class="sr-only">Close</span>
							</button>
							<!--/ button -->
							<div class="img-poster clearfix">
								{% if post.user.profile.profile_pic %}
								<a href=""><img class="img-responsive img-circle" src="/static/img/users/18.jpg"
										alt="Image" /></a>
								{% endif %}
								<strong><a href="">{{ post.user.get_full_name }}</a></strong>
								<span>{{ post.created | timesince }} ago</span><br />
								{% is_following request.user post.user.id as user_is_following %}

								{% if user_is_following  %}
								<a href="" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i> Following</a>
								{% else %}
								<a href="{% url 'accounts:follow' post.user.id %}" class="kafe kafe-btn-mint-small"><i class="fa fa-plus"></i> Follow</a>
								{% endif %}
							</div>
							<!--/ img-poster -->

							<ul class="img-comment-list">
								{% for comment in post.comments.all %}
								<li>
									<div class="comment-img">
										{% if comment.user.profile.profile_pic. %}
										<img src="{{ comment.user.profile.profile_pic.url }}" class="img-responsive img-circle"
											alt="Image" />
										{% endif %}
									</div>
									<div class="comment-text">
										<strong><a href="">{{ comment.user.get_full_name }}</a></strong>
										<p>{{ comment.text }}</p> <span class="date sub-text">on {{ comment.created }}</span>
									</div>
								</li>
								{% endfor %}
								<!--/ li -->
							</ul>
							<!--/ comment-list -->

							<div class="modal-meta-bottom">
								<ul>
									<li><a class="modal-like" href="{% url 'main:like' post.id %}" {% if post|has_liked:request.user %} style="color:#e16a70" {% else %} style="color:#b2b2b2" {% endif %}><i class="fa fa-heart"></i></a><span
											class="modal-one"> {{ post.like_count }}</span> |
										<a class="modal-comment" href="#"><i class="fa fa-comments"></i></a><span>
											{{ post.comment_count }}</span> </li>
									<li>
										<span class="thumb-xs">
											{% if request.user.profile.profile_pic %}
											<img class="img-responsive img-circle" src="{{ request.user.profile.profile_pic.url }}"
												alt="Image">
											{% endif %}
										</span>
										<form class="comment-body form-group" method="POST" action="{% url 'main:add_comment' %}">
											{% csrf_token %}
											<input class="form-control input-sm" type="text"
												placeholder="Write your comment..." id="comment-input" name="comment_text">
												<input type="hidden" name="post_id" value="{{ post.id }}" class="post_id">
											<button type="submit" class="btn form-control btn-sm btn-default">Submit</button>
										</form>
										<!--/ comment-body -->
									</li>
								</ul>
							</div>

						</div>
						<!--/ modal-meta-top -->
					</div>
					<!--/ col-md-4 -->

				</div>
				<!--/ row -->
			</div>
			<!--/ modal-body -->

		</div>
		<!--/ modal-content -->
	</div>
	<!--/ modal-dialog -->
</div>
{% endfor %}
<!--/ modal -->

{% endblock %}