{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- ==============================================
	 News Feed Section
	 =============================================== -->
<section class="upload">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="box">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<textarea class="form-control no-border" rows="3" placeholder="Photo caption..." name="caption"></textarea>
						<div class="box-footer clearfix">
							<ul class="nav nav-pills nav-sm">
								<label for="file-input">
									<input type="file" class="form-control" name="file-input" id="file-input" accept="image/*">
								</label>
								
								<!-- <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-video text-muted"></i></a>
								</li> -->
							</ul>
						</div>
						<button class="kafe-btn kafe-btn-mint-small pull-right btn-sm" style="position: absolute; right: 10px; top: 86px;">Upload</button>
					</form>
				</div>

			</div>
		</div>

		<!-- <div class="row one-row">
			<div class="col-lg-12">
				<a href="https://picturepan2.github.io/instagram.css/" target="_blank">
					<h4>Instagram Filters from Picture Pan 2</h4>
				</a>
			</div>
		</div> -->

		<!-- <div class="row">

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-image">
						<img src="/static/img/posts/18.jpg" class="img-responsive" alt="Image" />
					</div>
					<div class="card-header">
						<span>Normal</span>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-image filter-1977">
						<img src="/static/img/posts/18.jpg" class="img-responsive" alt="Image" />
					</div>
					<div class="card-header">
						<span class="h6">1977</span>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-image filter-willow">
						<img src="/static/img/posts/18.jpg" class="img-responsive" alt="Image" />
					</div>
					<div class="card-header">
						<span class="h6">Willow</span>
					</div>
				</div>
			</div>

		</div> -->
		<!--/ row-->

		<!-- <div class="row">

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-image filter-sutro">
						<img src="/static/img/posts/18.jpg" class="img-responsive" alt="Image" />
					</div>
					<div class="card-header">
						<span class="h6">Sutro</span>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-image filter-reyes">
						<img src="/static/img/posts/18.jpg" class="img-responsive" alt="Image" />
					</div>
					<div class="card-header">
						<span class="h6">Reyes</span>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-image filter-poprocket">
						<img src="/static/img/posts/18.jpg" class="img-responsive" alt="Image" />
					</div>
					<div class="card-header">
						<span class="h6">Poprocket</span>
					</div>
				</div>
			</div>

		</div> -->
		<!--/ row-->

		<!-- <div class="row">

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-image filter-inkwell">
						<img src="/static/img/posts/18.jpg" class="img-responsive" alt="Image" />
					</div>
					<div class="card-header">
						<span class="h6">Inkwell</span>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-image filter-nashville">
						<img src="/static/img/posts/18.jpg" class="img-responsive" alt="Image" />
					</div>
					<div class="card-header">
						<span class="h6">Nashville</span>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-image filter-moon">
						<img src="/static/img/posts/18.jpg" class="img-responsive" alt="Image" />
					</div>
					<div class="card-header">
						<span class="h6">Moon</span>
					</div>
				</div>
			</div>

		</div> -->


	</div>
	<!--/ container -->
</section>
<!--/ newsfeed -->

{% endblock %}