{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}{% trans "Suggestion" %}{% endblock %}

{% block content %}
<section class="login">
  <div class="container">
    <div class="banner-content">

      <a href="/"><h1><i class="fa fa-smile"></i> Earthruh</h1></a>
      <form method="post" class="form-signin">
        {% csrf_token %}
        <h3 class="form-signin-heading">Report Post by {{ post.user.username }}.</h3>
        {% bootstrap_form form %}
        <button class="kafe-btn kafe-btn-mint btn-block" type="submit" name="subm">Submit</button>
      </form>

    </div>
    <!--/. banner-content -->
  </div><!-- /.container -->
</section>
{% endblock %}
